* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-bg: #f8f0e3;
  --secondary-bg: #c8a347;
  --third-bg: #c28b43;
  --accent: #a0522d;
  --accent-secondary: #8fbc8f; 
  --text-primary: #e9eac0;
  --text-secondary: #494545;
  --border: #d2b48c;
}
/* Oswald Font */
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sono:wght@200..800&display=swap");

body {
  background-color: var(--primary-bg);
  color: var(--text-primary);
  font-family: "Oswald", sans-serif;
  font-size: 16px;
}

#new-task-btn{
    display: block;
    height: 60px;
    width: 60px;
    bottom: 20px;
    right: 20px;
    position: fixed;
    font-size: 2rem;
    background-color: var(--accent);
    color: var(--primary-bg);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#new-task-btn:hover {
    color: var(--accent-secondary);
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
.toast {
    visibility: hidden;
    opacity: 0;
    position: relative;
    background-color: var(--accent);
    color: var(--text-primary);
    text-align: center;
    padding: 16px;
    position: fixed;
    z-index: 1000; 
    top: -50px;
    left: 50%;
    width: 250px; 
    height: 52px; 
    border-top-left-radius: 150px; 
    border-top-right-radius: 150px;
    border-bottom-left-radius: 0; 
    border-bottom-right-radius: 0;
    font-size: 17px;
    translate: -50%;
    transition: opacity 0.5s, visibility 0.5s, transform 0.5s;
    transform: translateY(20px); 
  }

.toast.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0); 
  }

nav {
    font-family: "Oswald", sans-serif;
    font-size: 1.5rem;    
    background-color: var(--accent);
    color: var(--primary-bg);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    border-bottom: var(--border) 2px solid;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.hidden {
    display: none;
    opacity: 0; 
    transition: opacity 0.3s ease-in-out; 
}

.visible {
    display: block !important; 
    opacity: 1; 
    transition: opacity 0.3s ease-in-out; 

}
.task-form-container{
    display: none;
    position: absolute;
    top: 35%;
    left: 50%;
    width: 400px;
    background-color: var(--accent);
    border-radius: 16px;
    align-items: center;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.task-form{
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
}
.add-task-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
}

#task-input{
    grid-column: span 2 / span 2;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    background-color: var(--primary-bg);
    color: var(--text-secondary);
}

#task-input:focus {
    outline: none;
    transform: scale(1.02);
    box-shadow: 0 0 5px var(--accent);
}

#date-input{
    grid-column: span 2 / span 2;
    grid-row-start: 2;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    background-color: var(--primary-bg);
    color: var(--text-secondary);
}
#date-input:focus {
    outline: none;
    transform: scale(1.02);
    box-shadow: 0 0 5px var(--accent);
}
#priority-input{
    grid-column: span 2 / span 2;
    grid-row-start: 3;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    background-color: var(--primary-bg);
    color: var(--text-secondary);
}
#priority-input:focus {
    outline: none;
    transform: scale(1.02);
    box-shadow: 0 0 5px var(--accent);
}
#icon-input{
    grid-column: span 2 / span 2;
    grid-row-start: 4;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    background-color: var(--primary-bg);
    color: var(--text-secondary);
}
#add-task-btn{
    grid-row-start: 5;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: none;
    padding: 10px;
    font-size: 1.2rem;
    background-color: rgb(78, 208, 78);
    color: var(--primary-bg);
    cursor: pointer;
}
#add-task-btn:hover {
    background-color: rgb(0, 128, 0);
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
#cancel-task-btn{
    grid-row-start: 5;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: none;
    padding: 10px;
    font-size: 1.2rem;
    background-color: rgb(255, 0, 0);
    color: var(--primary-bg);
    cursor: pointer;
}
#cancel-task-btn:hover {
    background-color: rgb(205,0, 0);
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
    .task-form-container{
        width: 350px;
   }
   #task-input,
   #add-task-btn,
   #cancel-task-btn{
    font-size: 1rem;
   }
}
@media screen and (max-width: 500px) {
    .task-form-container{
        width: 90%;
   }
   .task-form{
    padding: 10px;
   }
}

.task-list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding: 10px;
    width: 98%;
    max-width: 100vw;
    color: var(--text-secondary);
    background-color: var(--primary-bg);
    border: var(--accent) 2px solid;
    border-radius: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.task-list-container h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    text-align: center;
}
.task-list-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin-bottom: 10px;
}

#number-of-tasks{
    
    font-size: 1.2rem;
    color: var(--text-primary);
    background-color: var(--accent);
    padding: 5px 10px;
    border-radius: 50%;
    border: var(--accent) 2px solid;

}

.task-list-mini-header{
    background-color: var(--secondary-bg);
    display: flex;
    width: 45%;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    padding: 8px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease-in-out;
    border: var(--accent) 2px solid;
    border-radius: 30px;
}

.btn{
    background-color: var(--third-bg);
    color: var(--primary-bg);
    border: none;
    border-radius: 30px;
    padding: 6px 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.active{
    background-color: var(--accent);
    color: var(--primary-bg);
}
@media screen and (max-width: 500px) {
    .task-list-header{
        flex-direction: column;
        align-items: center;
    }
    .task-list-mini-header{
        width: 100%;
    }
    #number-of-tasks{
        margin: 10px;    
    }
    
}

.task-list{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
.task-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--third-bg);
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: var(--text-primary);
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}
@media screen and (max-width: 500px) {
    .task-item{
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    
}
.completed{
    background-color: green;
    color: var(--text-primary);
    text-decoration: line-through;
}
.not-completed {
    background-color: var(--third-bg);
    color: var(--text-primary);
}
.done-task-btn{
    background-color: rgb(0, 235, 0);
    color: var(--primary-bg);
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.done-task-btn:hover {
    background-color: green;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.delete-task-btn{
    background-color: rgb(255,0 , 0);
    color: var(--primary-bg);
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.delete-task-btn:hover {
    background-color: rgb(205,0 , 0);    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
